body {

    font: 14px/24px Roboto, sans-serif;
}

h2 {
    clear: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0 16px;
}

hr {
    display: block;
    border-style: inset;
    border-width: 1px;
}

/* mobile first*/
img {
    max-width: 250px;
    max-height: 253px;
    width: auto;
    height: auto;
}

.conteudo {
    float: left;
    width: 100%;
}

.barralateral {
    border: 1px solid black;
    padding: 10px;
    width: 90%;
     float: left;
}

table, th, td {
    background: #f9f3e9;
    border: 1px solid  #E5E5E5;
    border-collapse: collapse;
     text-align: center;
    
}

/*Screen Desktop*/
@media screen and (min-width: 800px) {
    img {
        max-width:500px;
        max-height: 300px;
        width: auto;
        height: auto;
    }
    
    h2 {
        font-size: 28px;
    }
    
    .conteudo {
        width: 70%;
    }
    
    .barralateral {
        width: 28%;

    }
}
