body {
    font: 14px/24px Roboto, sans-serif;
}

h1 {
    text-align: center;
}

.item_galeria {
    background: #f9f3e9;
    float: left;
    border: 1px solid #E5E5E5;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 26%;  /* mobile first */
}


/*Mobile
@media (max-width: 800px) {
    .item_galeria {
        width: 26%;
        /*background-color: green;
    }

    .item_galeria:nth-child(3n) {
        /*background-color: green;
        /* visibility: hidden;
                position: absolute;
                width: 0;
    }
    .item_galeria:nth-child(14) {
         /*background-color: green;

        /*visibility: hidden;
                position: absolute;
                width: 0;

    }
}
*/
/*Desktop*/
@media (min-width: 800px) and (max-width: 1200px) {
    .item_galeria {
        width: 20.25%;
    
    }
    .item_galeria:nth-child(4n) {
        /*background-color: green;*/
        /*visibility: hidden;
                        position: absolute;
                        width: 0;*/
    
    
    }
}

/*Widscrean*/
@media (min-width: 1200px) {
    .item_galeria {
        width: 17%;
    }
    .item_galeria:nth-child(5n) {
        /*background-color: green;*/
        /*visibility: hidden;*/
    
    }
}
